environment:
  matrix:
    - PYTHON: "C:\\Python36\\python.exe"
    - PYTHON: "C:\\Python36-x64\\python.exe"
    - PYTHON: "C:\\Python37\\python.exe"
    - PYTHON: "C:\\Python37-x64\\python.exe"

install:
  - "%PYTHON% -m pip install -U pip wheel setuptools"
  - "%PYTHON% -m pip install -r requirements.txt"

build_script:
  - "%PYTHON% setup.py install"

test_script:
  - cd build
  - "%PYTHON% -m pickle5.test.test_pickle"
  - cd ..

after_test:
  - "%PYTHON% setup.py bdist_wheel"

artifacts:
  # bdist_wheel puts your built wheel in the dist directory
  - path: dist\*
